body {
    background-color: white;
}

.wrapper {
    overflow-x: hidden;
    position: relative;
}

header {
    margin-right: auto;    
    margin-left: auto;    
    max-width: 100%;    
    min-width: 400px;
}

.navbar-brand {
    padding-left: 20px;
}

.header-pic {
    max-width: 400px;
    width: 100%;
    margin-top: 50px;
}

.header-container {
    margin: auto;
    align-items: center;
    text-align: center;
}

.header-background {
    display: flex;
    margin: center;
}

a {
    color: rgb(69, 69, 69);
    transition: 0.2s;
}

a.twitch:hover {
    color: #6441a5;
}

a.youtube:hover {
    color: red;
}

a.twitter:hover {
    color: #1DA1F2;
}

a.disabled {
    color: grey !important;
}

a.last-item {
    padding-right: 30px !important;
}

h2 {
    color: black;
    font-weight: bold;
    font-size: 36px;
}

.nav-item {
    font-size: 17px;
}

.nav-link {
    color: white !important;
    font-weight: bold;
    transition: 0.1s;
}

.nav-link:hover {
    color: rgb(255, 69, 69) !important;
}